{% extends 'colaboracion/base.html' %}
{% load static %}	
{% load filters %}

{% block css %}{% include 'frontend/_dataTables_css.html' %}
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">{% endblock css %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"> Lista de proveedores en colaboración </h3>
				{% if user|has_group:"administrador" or user.is_superuser %}
				<div class="card-tools">
					<buttom type="button" class="btn btn-primary btn-sm" id="newColaboradorModalBtn" data-toggle="modal" data-target="#newColaboradorModal">
						<i class="fas fa-plus-circle"> </i> Agregar proveedor
					</buttom>
				</div>
				{% endif %}
			</div>
			<div class="card-body">
				{% if colaborador_list %}
				<table id="datatable" class="table table-bordered table-striperd table-sm">
					<thead>
						<tr>
							<th>Rut</th>
							<th>Razón Social</th>
							<th>Estado</th>
							<th>Destinatarios</th>
							<th>Copias</th>
						</tr>
					</thead>
					<tbody>
					{% for colaborador in colaborador_list %}
						<tr>
							<td> <a href="{% url 'colaboracion:proveedor' colaborador.proveedor.rut %}"> {{ colaborador.proveedor.rut }} </a></td>
							<td> {{ colaborador|lower|capfirst }} </td>
							<td> {{ colaborador.estado|yesno:"Activo,Inactivo" }} </td>
							<td> {{ colaborador.contactoproveedor_set.destinatarios_list|truncatechars:"50" }} </td>
							<td> {{ colaborador.contactoproveedor_set.en_copia_list|truncatechars:"50" }} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% else %}
					<p>No hay registros en la base de datos</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% include 'colaboracion/_colaboradorForm.html' %}
{% endblock content %}

{% block js %}
	{% include 'frontend/_dataTables_js.html' %}
	<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

	<script>
		<!-- jQuery para datatable -->
		$(document).ready(function () {
			$('#datatable').DataTable();
		});
	</script>

	<script>
		$('.select2AddColaborador').select2({
			width: "resolve"
		});
	</script>
{% endblock js %}